# chezmoi 配置文件
# 这个文件定义了 chezmoi 如何管理您的 dotfiles

[data]
    # 用户信息
    name = "{{ .chezmoi.username }}"
    email = "{{ promptString "email" }}"

    # 系统信息
    {{- if eq .chezmoi.os "darwin" }}
    is_macos = true
    {{- else }}
    is_macos = false
    {{- end }}

    {{- if eq .chezmoi.os "linux" }}
    is_linux = true
    {{- else }}
    is_linux = false
    {{- end }}

[sourceVCS]
    autoCommit = true
    autoPush = false
